.modal {
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, .5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;

  &-close {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;

    &::after {
      font-size: 30px;
      content: "⨯";
    }
  }

  &-content {
    border-radius: 5px;
    position: relative;
    margin: auto;
    width: 70%;
    height: 60%;
    background: #fff;
    padding: 1rem;
    overflow: auto;

    &.small {
      width: 50%;
    }

    &.medium {
      width: 60%;
    }

    @media (max-width: 768px) {
      width: 90%;
    }

    @media (max-width: 420px) {
      width: 100%;
      height: 100%;
    }
  }

  &.active {
    display: flex;

    .modal-content {
      animation: .5s show-modal-animation forwards;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

@keyframes show-modal-animation {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}